In [1]:
# Get list of 100 largest cities in US by population


import pandas as pd
import requests
url = "https://www.nationalpopularvote.com/100-biggest-cities-have-59849899-people-and-rural-areas-have-59492267-people"
response = requests.get(url)
tables = pd.read_html(url)
cities = tables[0]
cities = cities.rename(columns=cities.iloc[0])
cities = cities[['City']]
city_list = (cities['City']).tolist()
city_list = city_list[1:5]
len(city_list)

4

In [2]:
client_id = 'QFEVJMDVtV4QHEUVepKk1w'
api_key = '9OcFOk6yy50Q515gwbQBpIJkBjiSbLfJkERDt0PBL2ccytMe8euGxRQsECS6DbH0P1vvBjxMHaVvnhVY-BDXpHLCzugOE5l6gcNjMBGArfR6d4MpjclMXHnjVaIHYHYx'


from yelpapi import YelpAPI
yelp_api = YelpAPI(api_key)

In [8]:
records = []

term = 'restaurant'
search_limit = 2

for location in city_list:
    response = yelp_api.search_query(term = term,
                                  location = location,
                                  limit = search_limit)
    for business in response['businesses']:
        print(business.keys())
        record = {
            'id':business['id'],
            'review_count':business['review_count']
        }
    
        records.append(record)
        
        
print(records)

dict_keys(['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'price', 'location', 'phone', 'display_phone', 'distance'])
dict_keys(['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'location', 'phone', 'display_phone', 'distance'])
dict_keys(['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'price', 'location', 'phone', 'display_phone', 'distance'])
dict_keys(['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'price', 'location', 'phone', 'display_phone', 'distance'])
dict_keys(['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'price', 'location', 'phone', 'display_phone', 'distance'])
dict_keys(['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'price', 'location', 'phone', 'display_phone', 'distance'])
dict_keys(['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'price', 'location', 'phone', 'display_phone', 'distance'])
dict_keys(['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'price', 'location', 'phone', 'display_phone', 'distance'])
[{'id': 'ETgJqJHV7BW6pIr9Ox74sA', 'review_count': 2700}, {'id': 'br6HJD_UZ_LSU36tBZGSuw', 'review_count': 7}, {'id': '6i7KnRylm4bhPIApDFSVCg', 'review_count': 3390}, {'id': 'kdTFcDSl9vAR-btEm1Q2uw', 'review_count': 3013}, {'id': 'VPJk-SEWSWS_nGoQvM-COw', 'review_count': 579}, {'id': 'xoi7Cw7FoknAx5p880RtWQ', 'review_count': 7238}, {'id': 'sICvh8l9t31JcDgwweNe8A', 'review_count': 1523}, {'id': 'RoU8KznQMrRFcIjYVtdZMw', 'review_count': 1911}]

In [4]:
response

{'businesses': [{'id': 'sICvh8l9t31JcDgwweNe8A',
   'alias': 'the-turkey-leg-hut-houston-4',
   'name': 'The Turkey Leg Hut',
   'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/3w4iXKZSvyspCV958KL6lA/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/the-turkey-leg-hut-houston-4?adjust_creative=QFEVJMDVtV4QHEUVepKk1w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=QFEVJMDVtV4QHEUVepKk1w',
   'review_count': 1523,
   'categories': [{'alias': 'southern', 'title': 'Southern'},
    {'alias': 'cajun', 'title': 'Cajun/Creole'}],
   'rating': 4.0,
   'coordinates': {'latitude': 29.7258417786263,
    'longitude': -95.3780490159988},
   'transactions': ['delivery'],
   'price': '$$',
   'location': {'address1': '4830 Almeda Rd',
    'address2': 'Ste A, B',
    'address3': None,
    'city': 'Houston',
    'zip_code': '77004',
    'country': 'US',
    'state': 'TX',
    'display_address': ['4830 Almeda Rd', 'Ste A, B', 'Houston, TX 77004']},
   'phone': '+18327870770',
   'display_phone': '(832) 787-0770',
   'distance': 4488.543460662503},
  {'id': 'RoU8KznQMrRFcIjYVtdZMw',
   'alias': 'the-pit-room-houston',
   'name': 'The Pit Room',
   'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/kOrAG30CDxnW9FHW7nEL-Q/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/the-pit-room-houston?adjust_creative=QFEVJMDVtV4QHEUVepKk1w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=QFEVJMDVtV4QHEUVepKk1w',
   'review_count': 1911,
   'categories': [{'alias': 'bbq', 'title': 'Barbeque'}],
   'rating': 4.5,
   'coordinates': {'latitude': 29.7342352703345,
    'longitude': -95.3939679771603},
   'transactions': ['delivery'],
   'price': '$$',
   'location': {'address1': '1201 Richmond Ave',
    'address2': '',
    'address3': '',
    'city': 'Houston',
    'zip_code': '77006',
    'country': 'US',
    'state': 'TX',
    'display_address': ['1201 Richmond Ave', 'Houston, TX 77006']},
   'phone': '+12818881929',
   'display_phone': '(281) 888-1929',
   'distance': 4585.949510953171}],
 'total': 2800,
 'region': {'center': {'longitude': -95.35995483398438,
   'latitude': 29.763025675716687}}}

In [5]:
city_list

['New York, NY', 'Los Angeles, CA', 'Chicago, IL', 'Houston, TX']

In [6]:
df = pd.DataFrame.from_dict(response_dict)
df

,"New York, NY","Los Angeles, CA","Chicago, IL","Houston, TX"
businesses,"[{'id': 'ETgJqJHV7BW6pIr9Ox74sA', 'alias': 'am...","[{'id': '6i7KnRylm4bhPIApDFSVCg', 'alias': 'da...","[{'id': 'VPJk-SEWSWS_nGoQvM-COw', 'alias': 'pe...","[{'id': 'sICvh8l9t31JcDgwweNe8A', 'alias': 'th..."
total,18700,8400,5900,2800
region,"{'center': {'longitude': -73.99429321289062, '...","{'center': {'longitude': -118.32138061523438, ...","{'center': {'longitude': -87.67776489257812, '...","{'center': {'longitude': -95.35995483398438, '..."